.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: white;
  padding: 10px;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.logo-cont {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 16px;
  color: black;
}
.nav-item {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
ul {
  list-style: none;
}
.home {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
